@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
.item.slick-slide {
  outline: none;
}

body {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:before,
:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.v-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.left-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: 100%;
  background-color: #fff;
  border-right: 1px solid #d9d9d9;
  padding: 50px 40px;
  z-index: 9;
}

.toggle {
  display: block;
  width: 25px;
  cursor: pointer;
}

.toggle span {
  width: 25px;
  height: 2px;
  background-color: #000;
  display: block;
  margin: 0 0 4px;
}

.social {
  position: absolute;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: -120px;
  bottom: 160px;
  width: 340px;
  height: 100px;
  line-height: 100px;
}

.social a {
  display: block;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0 15px;
}

.toggle-menu {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.toggle-menu-inner {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right: 17px;
  /* Increase/decrease this value for cross-browser compatibility */
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* So the width will be 100% + 17px */
}

.toggle-menu ul li a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background-color: #cfd6ff;
  z-index: -1;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.toggle-menu ul li a:hover::before {
  width: 100%;
}

.toggle-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: calc(100% - 100px);
  height: 100%;
  background-color: #fff;
  margin-left: 100px;
  z-index: 8;
  overflow-y: auto;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.toggle-menu ul li {
  list-style: none;
  display: block;
}

.toggle-menu ul li a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-size: 55px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  margin: 30px 100px;
}

.toggle-menu.open {
  left: 0;
}

.wrapper {
  width: calc(100% - 100px);
  margin-left: 100px;
}

header {
  display: block;
  position: relative;
  width: 100%;
  padding: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px;
}

/* header */
.header .item-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}

.header .logo a {
  font-size: 30px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
}

.header .item-center {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.header .item-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .item-right a {
  text-decoration: none;
  font-size: 16px;
  color: #555555;
  display: inline-block;
  margin-left: 10px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.header .menu > ul > li {
  display: inline-block;
  line-height: 50px;
  margin-left: 25px;
}

.header .menu > ul > li > a {
  font-size: 15px;
  font-weight: 500;
  color: #000000;
  position: relative;
  text-transform: capitalize;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.header .menu > ul > li .sub-menu {
  position: absolute;
  z-index: 500;
  background-color: #ffffff;
  -webkit-box-shadow: -2px 2px 70px -25px rgba(0, 0, 0, 0.3);
          box-shadow: -2px 2px 70px -25px rgba(0, 0, 0, 0.3);
  padding: 20px 30px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: 25px;
  opacity: 0;
  visibility: hidden;
}

.header .menu > ul > li.menu-item-has-children .fa {
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.header .item-right .user-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-profile__image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

@media (min-width: 992px) {
  .header .menu > ul > li.menu-item-has-children:hover .sub-menu {
    margin-top: 0;
    visibility: visible;
    opacity: 1;
  }
  .header .menu > ul > li.menu-item-has-children:hover .fa {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

.header .menu > ul > li .sub-menu > ul > li {
  line-height: 1;
}

.header .menu > ul > li .sub-menu > ul > li > a {
  display: inline-block;
  padding: 10px 0;
  font-size: 15px;
  color: #555555;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  text-decoration: none;
  text-transform: capitalize;
}

.header .menu > ul > li .single-column-menu {
  min-width: 280px;
  max-width: 350px;
}

.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li {
  line-height: 1;
  display: block;
}

.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a {
  padding: 10px 0;
  display: inline-block;
  font-size: 15px;
  color: #555555;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.header .menu > ul > li .sub-menu.mega-menu {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header .menu > ul > li .sub-menu.mega-menu-column-4 {
  max-width: 1100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 15px;
}

.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  padding: 0 15px;
}

.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item .title {
  font-size: 16px;
  color: #ea4636;
  font-weight: 500;
  line-height: 1;
  padding: 10px 0;
}

.header
.menu
> ul
> li
.sub-menu.mega-menu-column-4
> .list-item.text-center
.title {
  text-align: center;
}

.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img {
  max-width: 100%;
  width: 100%;
  vertical-align: middle;
  margin-top: 10px;
}

.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a:hover,
.header .menu > ul > li .sub-menu > ul > li > a:hover,
.header .item-right a:hover,
.header .menu > ul > li:hover > a {
  color: #ea4636;
}

/* banner section */
.banner-section {
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-position: center;
  height: 700px;
  width: 100%;
  display: block;
}

.mobile-menu-head,
.mobile-menu-trigger {
  display: none;
}

/*responsive*/
@media (max-width: 991px) {
  .header .item-center {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .header .item-left,
  .header .item-right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .v-center {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .mobile-menu-trigger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 30px;
    width: 30px;
    margin-left: 15px;
    cursor: pointer;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .mobile-menu-trigger span {
    display: block;
    height: 2px;
    background-color: #333333;
    width: 24px;
    position: relative;
  }
  .header .mobile-menu-trigger span:before,
  .header .mobile-menu-trigger span:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333333;
  }
  .header .mobile-menu-trigger span:before {
    top: -6px;
  }
  .header .mobile-menu-trigger span:after {
    top: 6px;
  }
  .header .item-right {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .menu {
    position: fixed;
    width: 320px;
    background-color: #ffffff;
    left: 0;
    top: 0;
    height: 100%;
    overflow: hidden;
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 1099;
  }
  .header .menu.active {
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
  .header .menu > ul > li {
    display: block;
    line-height: 1;
    margin: 0;
  }
  .header .menu > ul > li > a {
    line-height: 50px;
    height: 50px;
    padding: 0 50px 0 15px;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .header .menu > ul > li > a i {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 0;
    right: 0;
    text-align: center;
    line-height: 50px;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .header .menu .mobile-menu-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    z-index: 501;
    position: -webkit-sticky;
    position: sticky;
    background-color: #ffffff;
    top: 0;
  }
  .header .menu .mobile-menu-head .go-back {
    height: 50px;
    width: 50px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    color: #000000;
    font-size: 16px;
    display: none;
  }
  .header .menu .mobile-menu-head.active .go-back {
    display: block;
  }
  .header .menu .mobile-menu-head .current-menu-title {
    font-size: 15px;
    font-weight: 500;
    color: #000000;
  }
  .header .menu .mobile-menu-head .mobile-menu-close {
    height: 50px;
    width: 50px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    color: #000000;
    font-size: 25px;
  }
  .header .menu .menu-main {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .header .menu > ul > li .sub-menu.mega-menu,
  .header .menu > ul > li .sub-menu {
    visibility: visible;
    opacity: 1;
    position: absolute;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: 0;
    padding: 15px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 65px;
    max-width: none;
    min-width: auto;
    display: none;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    overflow-y: auto;
  }
  .header .menu > ul > li .sub-menu.active {
    display: block;
  }
  @-webkit-keyframes slideLeft {
    0% {
      opacity: 0;
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
  }
  @keyframes slideLeft {
    0% {
      opacity: 0;
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
  }
  @-webkit-keyframes slideRight {
    0% {
      opacity: 1;
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
  }
  @keyframes slideRight {
    0% {
      opacity: 1;
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
  }
  .header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img {
    margin-top: 0;
  }
  .header
.menu
> ul
> li
.sub-menu.mega-menu-column-4
> .list-item.text-center
.title {
    margin-bottom: 20px;
  }
  .header
.menu
> ul
> li
.sub-menu.mega-menu-column-4
> .list-item.text-center:last-child
.title {
    margin-bottom: 0px;
  }
  .header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding: 0px;
  }
  .header .menu > ul > li .sub-menu > ul > li > a,
  .header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a {
    display: block;
  }
  .header .menu > ul > li .sub-menu.mega-menu > .list-item > ul {
    margin-bottom: 15px;
  }
  .menu-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1098;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .menu-overlay.active {
    visibility: visible;
    opacity: 1;
  }
}

.slider .text {
  width: 40%;
  float: left;
  padding: 50px 0 0 50px;
}

.slider .img {
  width: 60%;
  float: left;
}

.slider .img img {
  margin: 0 auto;
}

.slider h1 {
  font-size: 60px;
  font-weight: 600;
}

.slider p {
  font-size: 14px;
  line-height: 24px;
  color: #7d7d7d;
  margin: 30px 0 70px;
}

.slider a {
  display: inline-block;
  padding: 15px 48px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  background-image: linear-gradient(45deg, #d001fe 0%, #1aa1d9 100%);
  -webkit-box-shadow: 10px 18px 50px 0 rgba(95, 157, 208, 0.5);
          box-shadow: 10px 18px 50px 0 rgba(95, 157, 208, 0.5);
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.slider a:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-top: 5px;
}

.slick-dots {
  text-align: left;
  left: 50px;
  bottom: 50px;
}

.slick-dots li {
  margin: 0;
}

.slick-dots li button::before {
  font-size: 48px;
}

.slick-dots li.slick-active button::before {
  color: #5f9dd0;
}

.slick-track {
  padding-bottom: 60px;
}

.shape {
  position: absolute;
  width: 490px;
  height: 490px;
  background-image: linear-gradient(45deg, #d001fe 0%, #1aa1d9 100%);
  border-radius: 100%;
  top: 150px;
  right: 150px;
  z-index: -1;
}

.shape-inner {
  width: calc(100% - 80px);
  height: calc(100% - 80px);
  background-color: #fff;
  border-radius: 100%;
  margin-left: 40px;
  margin-top: 40px;
}

.dropdown {
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.dropdown .drop-btn {
  background: #242526;
  border-radius: 5px;
  line-height: 55px;
  color: #b0b3b8;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dropdown .drop-btn span {
  float: right;
  line-height: 50px;
  font-size: 28px;
  cursor: pointer;
}

.dropdown .cerret {
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.dropdown .cerret.show {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.dropdown .dropdown-menu {
  position: absolute;
  top: 65px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  overflow: hidden;
  border-radius: 5px;
  background: #242526;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: 25px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.dropdown .dropdown-menu.show {
  margin-top: 0;
  visibility: visible;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dropdown-menu ul {
  width: 400px;
  list-style: none;
  padding: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.dropdown-menu ul li {
  line-height: 55px;
}

.dropdown-menu ul li a {
  position: relative;
  color: #b0b3b8;
  font-weight: 500;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.dropdown-menu ul li:hover a {
  background: #3a3b3c;
}

.dropdown-menu ul li a .icon {
  height: 40px;
  width: 40px;
  margin-right: 13px;
  background: #ffffff1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 50%;
}

.dropdown-menu ul li a .icon span {
  line-height: 40px;
  font-size: 20px;
  color: #b0b3b8;
}

.dropdown-menu ul li a i {
  position: absolute;
  right: 10px;
  font-size: 25px;
  pointer-events: none;
}

.dropdown-menu ul.setting-drop,
.dropdown-menu ul.help-drop {
  display: none;
}

.dropdown-menu .arrow {
  padding-left: 10px;
  font-size: 20px;
  font-weight: 500;
  color: #b0b3b8;
  cursor: pointer;
}

.dropdown-menu .arrow span {
  margin-right: 15px;
}
/*# sourceMappingURL=style.css.map */